<h1>Your inventory list<h1>
<form action="/items" method="post">
  <label for="item">Input your item</label>
  <input type="text" name="item" id="item">
  <button type="submit" name="button">Submit</button>
</form>

<h1>Search for an item</h1>
<form action="/searcheditem" method="post">
  <label for="searched-item">Search for an item</label>
  <input type="searched-item" name="searched-item" id="searched-item">
  <button type="submit" name="button">Search</button>
</form>

<a href="/items">See all items in list</a>
